{% extends "::base.html.twig" %}

{% block title %}Edit Name{% endblock %}

{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>About</h3>
            <table class="table">
                {{ form_start(form) }}
                <tr>
                    <th> Name: </th>
                    <td> {{ form_widget(form.name) }} </td>
                </tr>
                <tr>
                    <th> Surname: </th>
                    <td> {{ form_widget(form.surname) }}</td>
                </tr>
                <tr>
                    <th> Description: </th>
                    <td> {{ form_widget(form.description) }} </td>
                </tr>
                <tr>
                    <td> {{ form_widget(form.save) }} </td>
                </tr>
                {{ form_end(form) }}
            </table>
        </div>
    </div>   
    </div>
{% endblock %}
