{% extends "::base.html.twig" %}

{% block title %}Edit Name{% endblock %}

{% block body %}
    <div class="container">
        <h2>Add new Person</h2>
        <div>
            <a href="{{ path('addressbook_person_showindex') }}">
            <button class="btn btn-primary">
                <strong>Back to Main page</strong>
            </button>
        </a>
        </div><br>
        <div class="form">
            {{ form_start(form) }}
                <div class="form">
                    {{ form_label(form.name) }}<br>
                    {{ form_widget(form.name) }}
                </div>
                <div class="form">
                    {{ form_label(form.surname) }}<br>
                    {{ form_widget(form.surname) }}
                </div>
                <div class="form">
                    {{ form_label(form.description) }}<br>
                    {{ form_widget(form.description) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}