{% extends "::base.html.twig" %}

{% block title %}Show People{% endblock %}

{% block body %}
    <div class="container">
    <h1>Welcome to the Show People page</h1>
    <div>
    <a href="{{ path('fos_user_security_logout') }}">
        <button class="btn btn-warning">
            <strong>Logout</strong>
        <button>
    </a>
    </div>
    <p><strong>Number of people: {{ persons | length }}</strong></p>
        <table class="table">
            <tr>
                <th> Name </th>
                <th> Surname </th>
                <th> Description </th>  
                <th> Show </th>
                <th> Delete </th>
            </tr>
            {% for person in persons %}
            <tr>
                <td><a href="{{ path("addressbook_person_showperson", 
                        {"id":person.id}) }}">
                    {{ person.name }}
                </a></td>
                <td><a href="{{ path("addressbook_person_showperson", 
                        {"id":person.id}) }}">
                    {{ person.surname }}
                </a></td>
                <td>{{ person.description }}</td>
                <td>
                    <a href="{{ path("addressbook_person_showperson", 
                        {"id":person.id}) }}">
                        <button class="btn btn-primary"> 
                            <strong>Show</strong>
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{{ path("addressbook_person_deleteperson", 
                        {"personId":person.id}) }}"
                        <button class="btn btn-warning" id="delete">
                            <strong>Delete</strong>
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <a href="{{ path('addressbook_person_createnewperson') }}"
            <button class="btn btn-success">
                <strong>Add new</strong>
            </button>
        </a>
    </div>
        {% javascripts
            'web/bundles/framework/js/script.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
{% endblock %}
