{% extends "::base.html.twig" %}

{% block title %}Edit Person{% endblock %}

{% block body %}
    <div class="container">
    <h1>Welcome To Edit Name Page</h1>
    <div class="row">
        <div class="col-md-12">
            <h3>About</h3>
            <table class="table">
                <tr>
                    <th> Name: </th>
                    <td> 
                        <strong>{{ person.name }}</stron>
                    <td>
                        <a href="{{ path("addressbook_person_editname", 
                            {"id":person.id}) }}">
                            <button class="btn btn-sm btn-primary">
                                <strong>Edit</strong>
                            </button>
                        </a>
                    </td>
                    </td>
                </tr>
                <tr>
                    <th> Surname: </th>
                    <td> 
                        <strong>{{ person.surname }}</strong>
                    </td>
                    <td>
                        <a href="{{ path("addressbook_person_editname", 
                            {"id":person.id}) }}">
                            <button class="btn btn-sm btn-primary">
                                <strong>Edit</strong>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th> Description: </th>
                    <td> 
                        <strong>{{ person.description }}</strong>
                    </td>
                    <td>
                        <a href="{{ path("addressbook_person_editname", 
                            {"id":person.id}) }}">
                            <button class="btn btn-sm btn-primary">
                                <strong>Edit</strong>
                            </button>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="row">
        
        <div class="col-md-4">
            <h3>Phones</h3>
            {% if person.phones | length > 0 %}
                <table class="table">
                <tr>
                    <th> Phones: </th>
                </tr>
                {% for phone in person.phones %}
                    <tr>
                        <td> {{ phone.number }} </td>
                    </tr>
                {% endfor %}
                </table>
            {% else %} 
                <p>There is no phones</p>
            {% endif %}
            <a href="{{ path('addressbook_phone_createnewphone') }}"
                <button class="btn btn-sm btn-success">
                    <strong>Add new</strong>
                </button>
            </a>
        </div>
        
        <div class="col-md-4">
            <h3>Addresses</h3>
            {% if person.addresses | length > 0 %}
                <table class="table">
                <tr>
                    <th> City: </th>
                    <th> Street </th>
                </tr>
                {% for address in person.addresses %}
                    <tr>
                        <td>
                            {{ address.city }}
                        </td>
                        <td> 
                            {{ address.street }},
                            {{ address.houseNo }}, {{ address.flatNo }}
                        </td>
                    </tr>
                {% endfor %}
                </table>
            {% else %} 
                <p>There is no addresses</p>
            {% endif %}
        </div>

    </div>
{% endblock %}
