{% extends "::base.html.twig" %}

{% block title %}Edit Person{% endblock %}

{% block body %}
    <div class="container">
    <h1>Welcome To Edit Name Page</h1>
    <div>
        <a href="{{ path('addressbook_person_showindex') }}">
            <button class="btn btn-primary">
                <strong>Main page</strong>
            </button>
        </a>
        <a href="{{ path("addressbook_person_deleteperson", 
            {"personId":person.id}) }}"
            <button class="btn btn-warning confirm-delete">
                <strong>Delete</strong>
            </button>
        </a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>About</h3>
            <table class="table">
                <tr>
                    <th> Name: </th>
                    <td> 
                        <strong>{{ person.name }}</stron>
                    </td>
                    <td>
                        <a href="{{ path("addressbook_person_editname", 
                            {"id":person.id}) }}">
                            <button class="btn btn-sm btn-primary">
                                <strong>Edit</strong>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th> Surname: </th>
                    <td> 
                        <strong>{{ person.surname }}</strong>
                    </td>
                    <td>
                        <a href="{{ path("addressbook_person_editname", 
                            {"id":person.id}) }}">
                            <button class="btn btn-sm btn-primary">
                                <strong>Edit</strong>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th> Description: </th>
                    <td> 
                        <strong>{{ person.description }}</strong>
                    </td>
                    <td>
                        <a href="{{ path("addressbook_person_editname", 
                            {"id":person.id}) }}">
                            <button class="btn btn-sm btn-primary">
                                <strong>Edit</strong>
                            </button>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="row">
        
        <div class="col-md-4">
            <h3>Addresses</h3>
            {% if person.addresses | length > 0 %}
                <table class="table">
                <tr>
                    <th> City: </th>
                    <th> Street </th>
                </tr>
                {% for address in person.addresses %}
                    <tr>
                        <td>
                            {{ address.city }}
                        </td>
                        <td> 
                            {{ address.street }},
                            {{ address.houseNo }}, {{ address.flatNo }}
                        </td>
                    </tr>
                {% endfor %}
                </table>
            {% else %} 
                <p>There is no addresses</p>
            {% endif %}
        </div>
        
        <div class="col-md-4">
            <h3>Emails</h3>
            {% if person.emails | length > 0 %}
                <table class="table">
                <tr>
                    <th> Emails: </th>
                </tr>
                {% for email in person.email %}
                    <tr>
                        <td>
                            {{ email.address }}
                        </td>
                        <td>
                            <a href="{{ path('addressbook_email_deleteemail', {'id':email.id}) }}">
                                <button class="btn btn-sm btn-warning confirm-delete">
                                    <strong>Delete</strong>
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>There is no email adresses</p>
            {% endif %}
            <a href="{{ path('addressbook_email_createnewemail', {'personId':person.id}) }}">
                <button class="btn btn-sm btn-success">
                    <strong>Add new</strong>
                </button>
            </a>
        </div>
        
        <div class="col-md-4">
            <h3>Phones</h3>
            {% if person.phones | length > 0 %}
                <table class="table">
                <tr>
                    <th> Phones: </th>
                </tr>
                {% for phone in person.phones %}
                    <tr>
                        <td> 
                            {{ phone.number }} 
                        </td>
                        <td>
                            <a href="{{ path('addressbook_phone_deletephone', {'id':phone.id}) }}">
                                <button class="btn btn-sm btn-warning confirm-delete">
                                    <strong>Delete</strong>
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            {% else %} 
                <p>There is no phones</p>
            {% endif %}
            <a href="{{ path('addressbook_phone_createnewphone', {'personId':person.id}) }}">
                <button class="btn btn-sm btn-success">
                    <strong>Add new</strong>
                </button>
            </a>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
